.search-bar {
	display: flex;
	flex-direction: row;
	height: 60px;
	width: 320px;
	padding: 15px;
	box-sizing: border-box;
	background-color: #2d1f21;
	border-radius: 2px;
}


/* Form -------------------- */
form {
	display: flex;
	width: 320px;
	height: 30px;
}

/* ------------------------- */


/* Name Input -------------- */
.name-input-container {
	/* background-color: palegreen; */
	padding-right: 15px;
	width: 145px;
	height: 30px;
	display: flex;
}

#name-input {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border: 0px;
	border-radius: 5px;
}

/* ------------------------- */


/* Type Input -------------- */
.type-input-container {
	width: 130px;
	height: 30px;
}

#type-select {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 5px;
}

.option-type {
	color: black;
}

select #default-option {
	color: #ab3030 !important;
}

/* ------------------------- */