.search-bar {
	display: flex;
	flex-direction: row;
	height: 60px;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	background-color: paleturquoise;
}

/* ---------------------- */

/* Name Input  */
.name-input-container {
	background-color: teal;
}

#name-input {}

/* ---------------------- */

/* Type  Input  */
.type-input-container {
	background-color: teal;
}

#type-input {}

/* ---------------------- */