.search-result {
	position: relative;
	background-color: #489fbb;
	display: flex;
	width: 100%;
	height: 60px;
	margin-bottom: 5px;
	box-sizing: border-box;
	border: 1.94px solid black;
	outline: 3px solid #1f75b3;
	outline-offset: -4px;
	border-radius: 10px;
	transition: background-color 0.2s ease;
}

.search-result:hover {
	background-color: #65c3e3;
	border: 1.94px solid rgb(172, 223, 255);
}

.result-image {
	/* background-color: purple; */
	margin-left: 10px;
	margin-bottom: 5px;
}

.result-text-container {
	/* background-color: aqua; */
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 11px;
}

.result-name {
	font-size: 13px;
	/* background-color: bisque; */
	display: block;
	margin: 0px;
	text-transform: capitalize;
	padding-left: 10px;
	text-shadow: 0 0 2px white;
}

.types-container {
	display: flex;
	align-items: center;
	height: 30px;
	margin-left: 10px;
}

.result-type {
	font-size: 8px;
	background-color: #59b784;
	text-transform: capitalize;
	margin-right: 10px;
	box-sizing: border-box;
	padding: 3px;
	border-radius: 4px;
	border-bottom: 1.5px solid black;
}


.result-type.bug {
	background-color: #029c07;
}

.result-type.dragon {
	background-color: #ff7b00;
}

.result-type.electric {
	background-color: #ffd325;
}

.result-type.fighting {
	background-color: #cf4740;
}

.result-type.fire {
	background-color: #f04a30;
}

.result-type.flying {
	background-color: #79d7ff;
}

.result-type.ghost {
	background-color: #522b8e;
}

.result-type.ice {
	background-color: #46beff;
}

.result-type.steel {
	background-color: #bebebe;
}

.result-type.grass {
	background-color: #78c850;
}

.result-type.ground {
	background-color: #6d5a27;
}

.result-type.ice {
	background-color: #9ef3f3;
}

.result-type.normal {
	background-color: #cbcb73;
}

.result-type.poison {
	background-color: #a040a0;
}

.result-type.psychic {
	background-color: #7e26e3;
}

.result-type.rock {
	background-color: #9d9c9c;
}

.result-type.water {
	background-color: #4b87ff;
}